.projects{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}
.card{
    border: 3px solid #41d6bb54;
    padding: 20px 0;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #41d6bb9d;
}
.title{
    min-width: 200px;
    min-height: 100px;
    background-image: url("../images/project.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media (max-width:600px) {
    .projects{
        padding: 100px 10px;
    }
}