.skills{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 100px;
    gap: 20px;
    color: #12463D;
    letter-spacing: 2px;
    font-style: italic;
}
.title{
   min-width: 250px;
   min-height: 250px;
   border-radius: 50%;
   background-image: url("../images//skill.gif");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   
}

